    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4 col-xl-2">
    <div class="card">
        <div class="card-header primary-color white-text">LCD control </div>
        <div class="card-block"> 
                    <table>
                      <tr>
                        <td></td>
                        <td><a class="btn btn-primary waves-effect" onclick="lcd_text_send_ctrl('KEY_VOLUMEUP')"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><a class="btn btn-primary waves-effect" onclick="lcd_text_send_ctrl('KEY_F2')"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></td>
                        <td><a class="btn btn-primary waves-effect" onclick="lcd_text_send_ctrl('KEY_F3')"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></a></td> 

                      </tr>
                      <tr>
                        <td> </td> 
                        <td><a class="btn btn-primary waves-effect" onclick="lcd_text_send_ctrl('KEY_VOLUMEDOWN')"><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                        <td> </td>
                      </tr>
                    </table>
        </div>
    </div>
    </div>
    

    <script type="text/javascript">
        function lcd_text_send_ctrl(data){
          var sendCtrl = new ROSLIB.Topic({
            ros : ros,
            name : '/arom/UI/buttons',
            messageType : 'std_msgs/String'
          });

          var msg = new ROSLIB.Message({
            data: data
          });
          console.log(msg)
          sendCtrl.publish(msg);
        }

    </script>