

<div class="col-xs-6 col-sm-6 col-md-5 col-lg-4 col-xl-3">
<div class="card">
    <div class="card-header primary-color white-text">Power off</div>
    <div class="card-block"> 

<button type="button" class="btn btn-danger">Switch OFF all sockets</button>

</div>
</div>