
<div class="col-xs-12">
<div class="panel card">
    <div class="card-header primary-color white-text">SkyMap</div>
    <div class="card-block" style="padding: 0px;">

    <div id="starmap" style="height:400px;"></div>


</div>
</div>
</div>

<script src="/static/VirtualSky/jquery-1.10.0.min.js" type="text/javascript"></script>
<script src="/static/VirtualSky/virtualsky.js" type="text/javascript"></script>
<script>

        var planetarium = $.virtualsky({
                id: 'starmap', 
                projection: 'stereo', 
                mouse: true,
                keyboard: true, 
                az: 0, 
                negative: false, 
                constellations: true, 
                latitude: 53.5,
                longitude: -2.5,
                live: true,
                ground: true,
                transparent: false,
                showstarlabels: true,
        });


        var rcvDisplay = new ROSLIB.Topic({
          ros : ros,
          name : '/mount/status/coordinates/RaDec',
          messageType : 'std_msgs/Float32MultiArray'
        });

        rcvDisplay.subscribe(function(msg) {
            planetarium.addPointer({
                'ra':msg.data[0],
                'dec':msg.data[1],
                'label':'Telescope',
                'credit':'AROM',
                'colour':'rgb(200,255,255)'
            })
        });
        
        window.onbeforeunload = function(){
          console.log("closing");
          console.log(rcvDisplay.unsubscribe());
          delete rcvDisplay;
        };

</script>