{% extends "base.hbs" %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Ahoj! AROM</h1>
    <p class="lead">AROM (autonomous robotic observatory manager)</p>
  </div>
</div>

{% end %}