{% extends "base.hbs" %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Ahoj!</h1>
    <p class="lead"><b>AROM</b> (<b>a</b>utonomous <b>r</b>obotic <b>o</b>bservatory <b>m</b>anager)</p>
  </div>
</div>

{% end %}