{% extends "base.hbs" %}


{% block content %}

<div class="alert alert-warning" role="alert">
    Pro zobrazení více podrobností se musíte přihlásit. Přihlášení provedete v levém panelu. Pokud v tomto systému nemáte svůj uživatelský účet můžete se přihlásit jako návštěvník s uživatelským jménem '<b>guest</b>' a heslem '<b>guest</b>'.
</div>
{%end%}
