<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		{%for navItem in navItems%}
			<li><a href="/node/{{navItem[1:]}}">{{navItem[1:]}}</a></li>
		{%end%}
		<li></li>
		<hr>
		<li><a style="color: #444;" data-toggle="modal" data-target="#exampleModal">Nastavení</a></li>
		<li><a href="/login" style="color: #444;">Přihlášení</a></li>
	</ul>

</div>
