{% extends "base.hbs" %}
{% block head %}

<script type="text/javascript">
 
  // Connecting to ROS
  // -----------------
  //$.cookie("rosbridge_url", "ws://"+document.location.host+"/ws");
  //document.cookie = "rosbridge_url="+"ws://"+document.location.host+"/ws"
  if ($.cookie("rosbridge_url") == undefined){
      $.cookie("rosbridge_url", "ws://"+document.location.host+"/ws");
  }

  var ros = new ROSLIB.Ros({
    url : $.cookie("rosbridge_url")
  });

  ros.on('connection', function() {
    console.log('Connected to websocket server.');
  });

  ros.on('error', function(error) {
    $('#myModal').modal('show');
    console.log('Error connecting to websocket server: ', error);
  });

  ros.on('close', function() {
    jQuery('#modal').modal('show');
    console.log('Connection to websocket server closed.');
    alert('Connection to websocket server closed.');
  });


    var rosTopic = new ROSLIB.Topic({
      ros : ros,
      name : '/rosout',
      messageType : 'rosgraph_msgs/Log'
    });


    rosTopic.subscribe(function(msg) {
      if (false){
      //if (msg.level > 3){

        Lobibox.notify('default', {
            pauseDelayOnHover: true,
            continueDelayOnInactiveTab: true,
            msg: msg.msg,
            title: msg.name
        })
      }
    });



</script>
{% end %}

{% block content %}
<div class="alert alert-danger" role="alert">
!!!! Pro zobrazení všech nastavení se přihlašte jako username: <b>'admin'</b>, pass: <b>'admin'</b>
</div>
<div class="alert alert-success" role="alert" style="max-height: 30em; overflow: auto;">

	{{NodeParams}}

	<ul>
	{% for feature in NodeParams['feature'] %}
	<li>{{feature}} >> {{NodeParams['feature'][feature]}}</li>
	{%end%}
	</ul>
</div>

{% for feature in NodeParams['feature'] %}
<div>
{% try %}
  {% module NodeFeature(feature, NodeParams['feature'][feature]) %}
{% except %}
  ERR
{% end %}

</div>
{%end%}



{% end %}
