{% extends "template.html" %}

{% block meta %}

{% end %}
{% block container %}


<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#state">State</a></li>
  <li><a data-toggle="tab" href="#Scheduler">Scheduler</a></li>
  <li><a data-toggle="tab" href="#weather">Weather</a></li>
  <li><a data-toggle="tab" href="#config">Config</a></li>
</ul>

<div class="tab-content">
  <div id="state" class="tab-pane fade in active">
    <h3>HOME</h3>
    <div id="row">
<!-- Zacatek jednoho panelu-->
      <div class="panel arom_panel_obs_nodes panel-default cfg_panel" id="panel_avilable"> <div class="panel-heading">Network cfg</div> <div class="panel-body" id="panel_inner_tree">
          </div>
      </div>

<!-- Konec panelu-->
    </div>


  </div><div id="weather" class="tab-pane fade">
    <h3>Weather</h3>
    <div id="row" onshow="UpdateDataTable">
<!-- Zacatek jednoho panelu-->

<div class="panel arom_panel_obs panel-default" id="panel_avilable"> <div class="panel-heading">Available devices</div> <div class="panel-body" id="weather_data_table">

</div></div>

<div class="panel arom_panel_obs panel-default" id="row" > <div class="panel-heading">Graph</div> <div class="panel-body" id="" style="padding: 0px;">
    <div id="container" style="height: 400px; min-width: 310px; padding: 0px; " class="col-sm-12"></div>

</div></div>
<!-- Konec panelu-->
    </div>
  </div>


<!-- Konec panelu-->
    </div></div><div id="config" class="tab-pane fade">
    <h3>Config</h3>
    <div id="row" onshow="UpdateDataTable">
<!-- Zacatek jednoho panelu-->


<!-- Konec panelu-->
    </div>
</div>

<script>

function UpdateDataTable () {
    console.log("ahoj!!!!!!!");
    $("#weather_data_table").load("/observatory/weather/datatable");
}

</script>
<script type="text/javascript"> 
    function init(){
      $("#panel_inner_tree").load("/observatory/cfg/"); 
      $("#weather_data_table").load("/observatory/weather/datatable");
    }

    $("#panel_avilable").click(function(){
        console.log("Klikl jsi");
        $("#weather_data_table").load("/observatory/weather/datatable"); 
    });
  

  function sec_5() {
        $("#weather_data_table").load("/observatory/weather/datatable"); 
  }
  
  var interval = setInterval(sec_5, 5000);
  init();

$("#panel_inner_tree").load("/observatory/cfg/"); 




</script>


<script type="text/javascript">
          // ===========================
            $(function(){
                $('.arom_panel_obs').lobiPanel({
                    sortable: true,
                    close: false,
                    editTitle: false
                      
                });
            });
</script>

<script type="text/javascript">
$(function () {
    $.getJSON('/observatory/weather/datatable/?type=json&data=weather&sens=2', function (data) {
        $('#container').highcharts('StockChart', {
            rangeSelector : {
                selected : 1,
                buttons: [{
                  type: 'hour',
                  count: 6,
                  text: '6h'
                },{
                  type: 'day',
                  count: 1,
                  text: 'd'
                },{
                  type: 'day',
                  count: 3,
                  text: '3d'
                }, {
                  type: 'day',
                  count: 7,
                  text: 'w'
                }, {
                  type: 'month',
                  count: 1,
                  text: 'm'
                }, {
                  type: 'month',
                  count: 6,
                  text: '6m'
                }/*, {
                  type: 'ytd',
                  text: 'YTD'
                }, {
                  type: 'year',
                  count: 1,
                  text: '1y'
                }*/, {
                  type: 'all',
                  text: 'All'
                }]
            },

            series : [{
                name : 'AWS_ambient_temp_2m',
                data : data,
            }],
            xAxis: {
              type: 'datetime',
              ordinal: false,
              dateTimeLabelFormats: { // don't display the dummy year
                  month: '%e. %b',
                  year: '%b'
              },
              title: {
                  text: 'Date'
              }
            }, 
            legend: {
                verticalAlign: 'middle',
                borderWidth: 1
            },credits: {
                enabled: false
            },
        });
    });
});


</script>
<script type="text/javascript">

    function UpdateDataTable () {
        console.log("ahoj!!!!!!!");
        $("#weather_data_table").load("/observatory/weather/datatable");
    }

</script>
<script type="text/javascript"> 
    function init(){
        $("#panel_inner_tree").load("/observatory/cfg/"); 
        $("#weather_data_table").load("/observatory/weather/datatable");
    }

    $("#panel_avilable").click(function(){
        console.log("Klikl jsi");
        $("#weather_data_table").load("/observatory/weather/datatable"); 
    });
  

    function sec_5() {
        $("#weather_data_table").load("/observatory/weather/datatable"); 
    }
  
    var interval = setInterval(sec_5, 5000);
    init();

    $("#panel_inner_tree").load("/observatory/cfg/"); 

</script>

{% end %}




